.chunk {
  border: 1px solid #000;
  width: fit-content;
  padding: 1rem;
}
.chunk-title {
  font-style: italic;
  font-weight: light;
}
.wrong-answer {
  color: red;
}
.proper-answer {
  color: green;
}
