<div class="chunk">
  <h2>
    Chunk: <span class="chunk-title">{{ title }}</span>
  </h2>
  <form>
    <ul>
      <li *ngFor="let item of list; let i = index">
        <label name="chunkItem + i" for="chunkItem + i" class="form-label">
          {{ list[i]["question"] }}
        </label>
        <input
          name="chunkItem + i"
          id="chunkItem + 1"
          class="form-control"
          type="text"
          [(ngModel)]="submit[i]"
        />
        <p
          class="mt-2"
          [ngStyle]="{
            color: submit[i] === list[i]['answer'] ? 'green' : 'red'
          }"
          *ngIf="properSubmit !== null"
        >
          <i-bs
            *ngIf="submit[i] !== list[i]['answer']"
            name="x-circle"
            width="25"
            height="25"
          >
          </i-bs>
          <i-bs
            *ngIf="submit[i] === list[i]['answer']"
            name="check2-circle"
            width="25"
            height="25"
          >
          </i-bs>
          Proper answer: {{ list[i]["answer"] }}
        </p>
      </li>
    </ul>
    <button type="submit" class="btn btn-primary" (click)="checkChunk()">
      SUBMIT
    </button>
    <button type="submit" class="btn btn-info" (click)="resetChunk()">
      RESET
    </button>
  </form>
  <h1 *ngIf="properSubmit === true">SUCCESS!</h1>
  <h1 *ngIf="properSubmit === false">NOT YET. TRY AGAIN.</h1>
</div>
