header {
  background: hsla(0, 0%, 100%, 1);

  background: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 1) 0%,
    rgb(179, 178, 178) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 1) 0%,
    rgb(153, 153, 153) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 1) 0%,
    rgb(116, 116, 116) 100%
  );
}
.chunk {
  border: 1px solid var(--bs-gray-900);
  width: fit-content;
}
