<header style="background: var(--bs-gray-900)" class="p-3 text-white">
  <div class="container">
    <div
      class="d-flex flex-column flex-sm-row align-items-center justify-content-evenly"
    >
      <div
        style="
          margin: 1rem 0.5rem;
          flex-direction: column;
          justify-content: center;
          flex-wrap: wrap;
          align-items: center;
          border-radius: 5px;
          display: flex;
        "
      >
        <span
          style="
            width: 100%;
            padding: 0.5rem;
            font-size: 1.5rem;
            font-weight: bold;
            color: #fff;
            background: #000;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
          "
          >Exam yourself.
        </span>
        <span
          style="
            width: 100%;
            padding: 0.5rem;
            font-size: 1.5rem;
            font-weight: bold;
            color: #000;
            background: #fff;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
          "
          >By yourself.</span
        >
      </div>

      <i-bs name="file-earmark-spreadsheet-fill" width="100" height="100%">
      </i-bs>
    </div>
  </div>
</header>
<div class="container pt-3">
  <h1>Your exam sheets</h1>
  <div class="row">
    <div class="col-xs-12">
      <div class="chunk" *ngFor="let instance of chunks">
        <app-display
          *ngIf="instance.mode === 'display'"
          [chunk]="instance"
        ></app-display>

        <app-edit
          *ngIf="instance.mode === 'edit'"
          [chunk]="instance"
        ></app-edit>
      </div>
    </div>
  </div>
</div>
