<div>
  <h1>Welcome to QA tempo notes.</h1>
  <p>THINK OF WHAT CHUNK IS USEFUL TO INTERNALIZE NOW.</p>
  <p>DECOMPOSE IT INTO SMALL Q&A POINTS</p>
  <p>GO OVER IT, EACH TIME HAVING LESS TIME TO ANSWER</p>
  <p>BENEFIT: FEW ROUNDS OF THIS AND YOU'VE GOT IT DOWN</p>
  <p>
    BETTER BENEFIT: COMPLETE THE Q&A'S SET AFTER A DAY OR TWO, THEN WEEK, THEN
    MONTH, TWO-THREE TIMES, AND YOU'VE GOTTEN IT DOWN FOR GOOD
  </p>
</div>

<button>ADD NOTE</button>

<div>
  <h2>LIST OF CHUNKS TO INTERNALIZE</h2>
  <ul>
    <li>
      <app-qanotes-list></app-qanotes-list>
    </li>
    <li>
      <app-qanotes-list></app-qanotes-list>
    </li>
    <li>
      <app-qanotes-list></app-qanotes-list>
    </li>
  </ul>
</div>
<div>
  <h2>CHUNKS INTERNALIZED:</h2>
  <ul>
    <li>
      <div>
        <h3>CHUNK NAME 1 / ACCORDION</h3>
        <div>
          <ul>
            <li>QA NOTE</li>
          </ul>
        </div>
      </div>
      <button>Not 100% sure? RE-RUN</button>
      <button>MOVE IT BACK</button>
    </li>
    <li>CHUNK NAME 2</li>
    <li>CHUNK NAME 3</li>
  </ul>
</div>
