<div>
  <h2>CHUNK NAME</h2>
  <button>ADD NOTE</button>
  <ul>
    <li>
      q 1, a 1 <button>EDIT QUESTION</button>
      <button>EDIT RIGHT ANSWER</button>
      <button>EDIT STARTING TIME LIMIT</button>
      <button>DELETE</button>
    </li>
    <li>
      q 1, a 1 <button>EDIT QUESTION</button>
      <button>EDIT RIGHT ANSWER</button>
      <button>EDIT STARTING TIME LIMIT</button>
      <button>DELETE</button>
    </li>
    <li>
      q 1, a 1 <button>EDIT QUESTION</button>
      <button>EDIT RIGHT ANSWER</button>
      <button>EDIT STARTING TIME LIMIT</button>
      <button>DELETE</button>
    </li>
  </ul>
</div>
<app-qanote></app-qanote>
