<div class="menu">
  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Difficulty
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Beginner</a></li>
      <li><a class="dropdown-item" href="#">Intermediate</a></li>
      <li><a class="dropdown-item" href="#">Advanced</a></li>
    </ul>
  </div>
  <button class="btn btn-info" (click)="chunk.mode = 'edit'">EDIT</button>
</div>

<h2>{{ chunk.title }}</h2>
<form name="examsheet">
  <div *ngFor="let point of chunk.list; let i = index">
    <p>{{ point.question }}</p>
    <input name="answer- + index" type="text" [(ngModel)]="answers[i]" />
  </div>
  <button type="submit" class="mt-3 btn btn-primary" (click)="checkAnswers()">
    SUBMIT
  </button>
</form>
<p *ngIf="passExam === true">SUCCESS</p>
<p *ngIf="passExam === false">NOT YET, PLEASE TRY AGAIN</p>
