<div class="menu">
  <label
    >Difficulty:
    <button class="badge btn {{ chunk.difficulty }}">
      {{ chunk.difficulty }}
    </button></label
  >

  <button class="mode-btns btn btn-light">
    <i-bs
      class="d-flex justify-content-center align-items-center"
      style="cursor: pointer"
      name="cursor-fill"
      width="15"
      height="15"
    >
    </i-bs>
    <i-bs
      class="d-flex justify-content-center align-items-center"
      style="cursor: pointer"
      name="display"
      width="25"
      height="25"
      (click)="chunk.mode = 'display'"
    >
    </i-bs>

    <span
      class="d-flex justify-content-center align-items-center"
      style="margin-left: 0.5rem; font-weight: bold; font-size: 0.75rem"
      >BACK TO DISPLAY</span
    >
  </button>
</div>

<div class="examsheet-edit" name="chunk.title">
  <form class="difficulty">
    <h2>Exam difficulty:</h2>

    <div class="radio">
      <label> Beginner </label>
      <input
        name="difficulty"
        style="cursor: pointer"
        type="radio"
        value="beginner"
        (change)="chunk.difficulty = 'beginner'"
      />
    </div>
    <div class="radio">
      <label> Intermediate </label>
      <input
        name="difficulty"
        style="cursor: pointer"
        type="radio"
        (change)="chunk.difficulty = 'intermediate'"
      />
    </div>
    <div class="radio">
      <label> Advanced </label>
      <input
        name="difficulty"
        style="cursor: pointer"
        type="radio"
        (change)="chunk.difficulty = 'advanced'"
      />
    </div>
  </form>

  <div class="mt-3 form-check">
    <label style="font-weight: bold; font-size: 1.25rem" class="form-label"
      >Exam title:
    </label>
    <input
      class="form-control"
      type="text"
      [(ngModel)]="chunk.title"
      [ngModelOptions]="{ standalone: true }"
    />
  </div>

  <div class="mt-3 form-check">
    <h2 style="font-weight: bold; font-size: 1.25rem">
      Exam: Questions & Answers
    </h2>

    <div *ngFor="let point of chunk.list; let i = index">
      <label style="font-weight: bold; font-size: 1.15rem"
        >Point {{ i + 1 }}</label
      >
      <input
        class="form-control mt-3"
        type="text"
        [(ngModel)]="point.question"
        [ngModelOptions]="{ standalone: true }"
      />
      <input
        class="form-control mt-3"
        type="text"
        [(ngModel)]="point.answer"
        [ngModelOptions]="{ standalone: true }"
      />
      <input
        type="button"
        style="font-weight: bold"
        class="form-control mt-2 mb-2 btn btn-danger"
        value="DELETE EXAM POINT"
        (click)="this.chunk.list.splice(i, 1)"
      />

      <hr class="mt-2 mb-2" />
    </div>

    <button
      style="font-weight: bold"
      class="btn btn-primary"
      (click)="addExamPoint()"
    >
      ADD EXAM POINT
    </button>
  </div>
</div>
