.menu {
  background: var(--bs-gray-900);
  color: #fff;
  padding: 0.5rem 1rem;
}

.menu label {
  margin: 0 1rem;
  border-bottom: 1px solid var(--beginner);
  text-transform: uppercase;
  font-weight: bold;
}

.menu .badge {
  background-color: #000;
  padding: 0.25rem 0.5rem;
  margin-left: 0.5rem;
  border: 1px solid var(--bs-gray-600);
  border-radius: 5px;
}

.examsheet-edit {
  width: 100%;
  padding: 1rem;
  background: hsla(0, 0%, 100%, 1);

  background: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 1) 0%,
    hsla(0, 0%, 84%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 1) 0%,
    hsla(0, 0%, 84%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 1) 0%,
    hsla(0, 0%, 84%, 1) 100%
  );
}

.difficulty {
  background: #000;
  padding: 1rem 1rem 0.25rem 1rem;
  color: #fff;
}

.difficulty h2 {
  font-size: 1.25rem;
  padding-bottom: 0.25rem;
  margin-bottom: 1.5rem;
  border-bottom: 3px solid #fff;
}

.difficulty .radio {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  width: 40%;
  font-size: 1.25rem;
  @media only screen and (max-width: 600px) {
    width: 90%;
  }
}
.difficulty .radio input {
  height: 1.5rem;
  width: 2rem;
  margin-left: auto;
}
